header {
    background-color: black;
    color:aliceblue;
    text-align: center;
    font-size:xx-large;
    text-transform: capitalize;
    padding:8px;

}
formclass {
    display: table;
}
label,input {
    display: table-cell;
    margin-bottom: 4px;
}
form {
    margin-top: 10px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    
}
th, td {
    border: 1px solid black;
    padding: 10px 20px; /* (top-bottom) (left-right) */
}
tbody {
    background-color: azure;
}
#container {
    background:#b8b4b4;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
   
}
nav {
    background-color: blanchedalmond;
    overflow: hidden;
}
nav ul {
    list-style-type: none;

}
nav ul li {
    float:left;
    border-right:solid 1px #000;
    padding:6px 10px;
}
nav li a {
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    font-weight:bold;
    padding:6px 10px;
}
.active {
    background-color: aquamarine;
}
.menu {
    margin:0;
    padding-left: 0;

}
nav li:hover{
    background-color: azure;
}
